
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Sticky Footer Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <!--<link href="https://getbootstrap.com/docs/4.1/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">-->
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
  </head>

  <body style="background-color: #F2F4F4;">

    <header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
        <a class="navbar-brand" href="/">MyTinyWebScrapper</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>            
          </ul>          
        </div>
      </div>
      </nav>
      <!-- As a heading -->
      <!--<nav class="navbar navbar-dark bg-primary">
        <div class="container">
          <span class="navbar-brand mb-0 h1 c-nav-title">MyTinyScrapper</span>
        </div>
      </nav>-->
    </header>    
      
    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="card">            
            <div class="card-body">
              <main role="main" class="container">
                <h1 class="mt-2">Simple Web Scrapper</h1>
                <p class="lead">Simple web scrapper built using Python, Flask and BeautyfulSoup</p>

                {% if error %}
                  <div class="alert alert-danger" role="alert">
                    {{ error }} <i class="far fa-frown"></i>
                  </div>
                {% endif %}
                

                <form action="/parse">
                  <div class="row mb-3">
                    <div class="col col-md-10 col-sm-12 mt-2">
                      <input type="text" class="form-control form-control-lg" placeholder="URL (Eg : http://www.example.com)" name="url" autofocus required>
                    </div>
                    <div class="col col-md-2 col-sm-12 mt-2">
                      <!--<input type="submit" class="form-control form-control-lg btn btn-success btm-sm" value="Parse">-->
                      <button type="submit" class="form-control form-control-lg btn btn-success btm-sm">
                        <h3>Parse <i class="fas fa-angle-right"></h3></i>
                      </button>
                    </div>
                  </div>
                  <!--<div class="row">
                    <div class="col col-md-10">
                      <div class="form-check form-check-inline">
                        <input class="form-check-input form-control-lg" type="checkbox" id="tag-a" name="tag-a" value="a">
                        <label class="form-check-label form-control-lg" for="inlineCheckbox1">Hyperlinks</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input form-control-lg" type="checkbox" id="tag-p" name="tag-p" value="p">
                        <label class="form-check-label form-control-lg" for="inlineCheckbox2">Paragraphs</label>
                      </div>          
                      <div class="form-check form-check-inline">
                        <input class="form-check-input form-control-lg" type="checkbox" id="tag-img" name="tag-img" value="img">
                        <label class="form-check-label form-control-lg" for="inlineCheckbox3">Images</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input form-control-lg" type="checkbox" id="tag-h" name="tag-h" value="h">
                        <label class="form-check-label form-control-lg" for="inlineCheckbox3">Headings</label>
                      </div>
                    </div>
                  </div>-->
                </form>
              </main>
            </div>
          </div>
        </div>
      </div>
      {% if context %}
      <br>
      <div class="row">                      
        <div class="col">
          <div class="col-md-12" style="background-color: green; height: 6px; width: 100%;"></div>
          <div class="card">            
            <div class="card-body">
              <main role="main" class="container">
                <h2 class="mt-3">Result</h2>
                <hr>
                <p class="lead"><strong>URL :</strong><a href="{{ url }}" target="blank">{{ url }}</a></p>
                <p class="lead"><strong>Status Code :</strong>200</p>
                <p class="lead"><strong>Title :</strong>{{ title }}</p>
                <div class="card">
                  <div class="card-body">                                    
                      <pre id="json-renderer"></pre>                  
                      <textarea id="json-input" style="width: 100%; display: none;">{{ context }}</textarea>                    
                  </div>
                </div>
                <!-- collapse start -->
                <!--<div id="accordion">
                  <div class="card" >
                    <div class="card-header" id="headingOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Images (221)
                        </button>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body" style="background-color: #FDFEFE;">

                        <div class="card">
                          <div class="card-body">
                            <p><strong>href : </strong>https://github.com/aws-samples/aws-serverless-samfarm/blob/master/website/website.yaml</p>
                            <p><strong>text : </strong> Click Me</p>
                          </div>
                        </div>
                        <br>
                        <div class="card">
                          <div class="card-body">
                            <p><strong>href : </strong>https://github.com/aws-samples/aws-serverless-samfarm/blob/master/website/website.yaml</p>
                            <p><strong>text : </strong> Click Me</p>
                          </div>
                        </div>
                        <br>
                        <div class="card">
                          <div class="card-body">
                            <p><strong>href : </strong>https://github.com/aws-samples/aws-serverless-samfarm/blob/master/website/website.yaml</p>
                            <p><strong>text : </strong> Click Me</p>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingTwo">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Collapsible Group Item #2
                        </button>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" id="headingThree">
                      <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Collapsible Group Item #3
                        </button>
                      </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>-->
                <!-- collapse end -->

              </main>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Begin page content -->
    <!--<main role="main" class="container">
      <h1 class="mt-5">Simple Web Scrapper</h1>
      <p class="lead">Simple web scrapper built using Python, Flask and BeautyfulSoup</p>

      {% if error %}
        <div class="alert alert-danger" role="alert">
          {{ error }} <i class="far fa-frown"></i>
        </div>
      {% endif %}
      

      <form action="/parse">
        <div class="row">
          <div class="col col-md-10">
            <input type="text" class="form-control form-control-lg" placeholder="URL (Eg : http://www.example.com)" name="url" autofocus required>
          </div>
          <div class="col col-md-2">            
            <button type="submit" class="form-control form-control-lg btn btn-success btm-sm">
              <h3>Parse <i class="fas fa-angle-right"></h3></i>
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-10" align="center">
            <div class="form-check form-check-inline">
              <input class="form-check-input form-control-lg" type="checkbox" id="tag-a" name="tag-a" value="a">
              <label class="form-check-label form-control-lg" for="inlineCheckbox1">Hyperlinks (&lt;a&gt;)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input form-control-lg" type="checkbox" id="tag-p" name="tag-p" value="p">
              <label class="form-check-label form-control-lg" for="inlineCheckbox2">Paragraph (&lt;p&gt;)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input form-control-lg" type="checkbox" id="tag-img" name="tag-img" value="img">
              <label class="form-check-label form-control-lg" for="inlineCheckbox3">Images (&lt;img&gt;)</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input form-control-lg" type="checkbox" id="tag-h" name="tag-h" value="h">
              <label class="form-check-label form-control-lg" for="inlineCheckbox3">Headings (&lt;h1&gt; - &lt;h6&gt;)</label>
            </div>
          </div>
        </div>
      </form>
            
      {% if context %}
        <pre>{{ context }}</pre>
      {% endif %}
      

    </main>-->

    <footer class="footer">
      <div class="container">
        <span class="text-muted">Place sticky footer content here.</span>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>    
    <script type="text/javascript">    
      var data = JSON.parse($("#json-input").text());
      $('#json-renderer').jsonViewer(data, {collapsed: true});
    </script>
  </body>
</html>
